@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #f4f6fc;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
}
.card {
  width: 330px;
  height: 402px;
  background-color: #fff;
  border-radius: 10px;
  margin: 100px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
}
.user-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;
}
.user-name {
  display: inline-block;
  color: #32343a;
  line-height: 100%;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 12px;
  vertical-align: middle;
}
.main-text {
  color: #32343a;
  line-height: 150%;
  font-weight: 600;
  padding-top: 16px;
}
.description {
  font-weight: 400;
  color: #71747b;
  line-height: 165%;
  padding-top: 10px;
}
.read-more-text {
  color: #1b54fe;
  line-height: 100%;
  padding: 16px 0px 20px 0px;
}
.main-text,
.read-more-text {
  font-size: 18px;
  font-weight: 600;
}
.user-name,
.description {
  font-size: 16px;
}
.text-wrapper {
  padding-left: 20px;
}
